.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #2c5075;
}

.logo {
  width: 20rem;
}

.arrowContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  cursor: pointer;
  height: 2.5rem;
}

.arrow {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  animation: up-and-down 1.5s infinite;
}

@keyframes up-and-down {
  0%,
  100% {
    opacity: 0.4;
    top: 0;
  }
  50% {
    opacity: 1;
    top: -1rem;
  }
}

@media (max-width: 600px) {
  .container {
    justify-content: flex-start;
    padding-top: 10rem;
  }
}
