.container {
  display: flex;
  width: 50vw;
  min-height: 50vh;
  padding: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
}

.coverContainer {
  min-width: 10rem;
  padding: 1rem;
  margin: 1rem;
}

.iconsContainer {
  display: flex;
  padding: 1rem;
}
