.listContainer {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 15rem);
  justify-content: space-evenly;
  grid-gap: 1rem;
  margin: 1rem 1rem 2rem 1rem;
}

.title {
  width: 90vw;
  margin-top: 1rem;
  padding: 1.1rem;
}

@media (max-width: 600px) {
  .title {
    width: 80vw;
  }
}
