.nav {
  position: fixed;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 10;
  padding: 0.5rem;
  width: 100vw;
  height: 4rem;
  border-bottom: 2px solid #eee;
}

.fullLogo {
  margin-left: 0.5rem;
  width: 13rem;
}

.logoImg {
  margin-left: 1rem;
  width: 2.5rem;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.link {
  color: rgb(44, 80, 117);
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
  letter-spacing: 0.1rem;
}

.link:visited {
  color: rgb(44, 80, 117);
}

.link:hover {
  background-color: rgb(44, 80, 117);
  color: #fff;
}

@media (max-width: 600px) {
  .link {
    padding: 1rem 0.7rem;
  }
}
