.markerContainer {
  position: absolute;
  cursor: pointer;
  min-width: 2.25rem;
}

.markerContainer:hover {
  z-index: 2;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.25rem;
  min-height: 3rem;
  border: 2px solid white;
  background: url('/fallback-cover.png') center center/cover no-repeat
    rgb(255, 255, 255);
}

.info {
  position: absolute;
  top: 3.25rem;
  z-index: 2;
}
