.markerContainer {
  position: absolute;
  cursor: pointer;
  min-width: 2.25rem;
}

.markerContainer:hover {
  z-index: 2;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 3rem;
  background: url('/fallback-cover.png') center center/cover no-repeat
    rgb(255, 255, 255);
}

.imgContainer:hover {
  width: 3rem;
  height: 3.75rem;
}

.info {
  position: absolute;
  top: 4rem;
  z-index: 2;
}
